* {
  box-sizing: border-box;
}

body{
  background-color: gray;
}

.page{
  width: 366px;
  height: 790px;
  border-radius: 20px;
  background-color: whitesmoke;


}

.header{
  display: flex;
  justify-content: space-between;
}

.header i {
  margin: 28px;
}

.circle-img {

  display: flex;
  justify-content: center;
}

.circle-img img{
  width: 93px;
  height: 93px;
  border-radius: 50%;
}
.title{
  text-align: center;
}
.title__song{
  font-size: 17px;
  padding-top: 40px;
}

.title__genre{
  font-size: 8px;
  padding-top: 20px;
  color: rgba(0,0,0,0.5);
}

.btns{

  width: 366px;
  height: 46px;
  display: flex;
  justify-content: center;
  margin: 41px 0px;

}
button{

  width: 121px;
  height: 46px;
  border-radius: 23px;
  
  margin: 0 11px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
button:first-child{
  color: white;
  background-color: black;
}
button:last-child{
  color: rgba(0,0,0,0.5);
  border-color: black;
}
button:last-child i{
  color : black;
}
.lists{
  border: 1px solid red;
  margin: 0px 44px;
}
.list{
  display: flex;
  height: 79px;
  width: 280px;
  border: 1px solid teal;
  justify-content: space-between;
}
.list img{
  width:47px;
  height: 47px;
  border-radius: 10px;
}
.list__contents{
  display: flex;
  width: 237px;
  justify-content: space-between;
  border: 1px solid black;
}
.list__texts{
  border: 1px solid blue;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}