:root {
 --color-white : #ECDACF;
 --color-orange: #F44607;
}

section {
  display: grid;
  height: 100vh;
  grid-template: 
  "black blue speakers artists" 1fr
  "red white speakers artists" 1fr
  "red yellow speakers artists" 1fr
  /* 아래는 컬럼 길이 */
  / 1fr 1fr 1fr 1fr;
  

}
div{
  padding: 10px;
  font-weight: 600;
}
.flip{
  display: inline-flex;
  color: red;
  transform: scale(1, -1);
}
.black {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  grid-area: black;
  color: white;
  background-color: black;
}
.blue{
  grid-area: blue;
  background-color: #6C01FF;
}
.red{
  font-size: 40px;
  display: flex;
  flex-direction: column;
  grid-area: red;
  background-color: red;
  color: black;
}
.white{
  grid-area: white;
}
.yellow{
  font-size: 40px;
  grid-area: yellow;
  background-color: #FFC904;
  
}

h4 {
  margin: 10px 0px;
  font-size: 13px;
}
.speakers{

  grid-area: speakers;
}
li{
  margin: 5px 0px;
  padding: 2px 0px;
}
.artists{

  grid-area: artists;
}

li.highlight {
  background-color: #6C01FF;
}