* {
  box-sizing: border-box;
}

body{
  display: flex;
  background-color: gray;
}

.page{
  width: 366px;
  height: 790px;
  border-radius: 20px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;


}

.header{
  display: flex;
  justify-content: space-between;
  width: 320px;
  align-items: center;
}

.header i {
  margin: 28px;
}

.circle-img {

  display: flex;
  justify-content: center;
  
}


.circle-img img{
  width: 93px;
  height: 93px;
  border-radius: 50%;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
}
.title{
  text-align: center;
}
.title__song{
  font-size: 20px;
  padding-top: 40px;
  font-weight: 600;
}

.title__genre{
  font-size: 13px;
  padding-top: 20px;
  color: rgba(0,0,0,0.5);
  font-weight: 600;
}

.btns{

  width: 366px;
  height: 46px;
  display: flex;
  justify-content: center;
  margin: 41px 0px;

}
button{

  width: 121px;
  height: 46px;
  border-radius: 23px;
  
  margin: 0 11px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
button:first-child{
  color: white;
  background-color: black;
  font-weight: 600;
  color:rgba(255, 255, 255, 0.7)
}
button:last-child{
  color: rgba(0,0,0,0.5);
  border-color: black;
  font-weight: 600;
}
button:last-child i{
  color : black;
}
.lists{

  margin: 0px 44px;
  
}
.list{
  display: flex;
  height: 79px;
  width: 280px;

  justify-content: space-between;
  align-items: center;

  border-radius: 10px;
  padding: 15px;
  position: relative;
}
.list img{
  width:47px;
  height: 47px;
  border-radius: 10px;
  
}
.list__contents{
  display: flex;
  width: 237px;
  justify-content: space-between;

  align-items: center;
  padding:0px 10px;
}
.list__texts{

  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.list__texts h3{
  color: rgba(0,0,0,0.5);
  font-weight: 600;
  font-size: 10px;
  margin-bottom: 10px;
}
.list__texts h4{
  font-weight: 600;

}
.list__contents i{
  color: rgba(0,0,0,0.5);
  top: 100px;

}
.list:nth-child(2){

 
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
}
.list >i {
  
  position: absolute;
  color: white;
  left: 27px;
}

.control-bar{
  display: flex;
  background-color: #222222;
  border-radius: 35px;
  width: 333px;
  height: 71px;
  padding: 10px;

  box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.2);
  
}
.control-bar__text{
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 182px;
  height: 51px;

  padding-left: 10px;
  
}
.control-bar__text h3{
  color:gray;
  margin-bottom: 10px;
  font-size: 13px;
}
.control-bar__text h4{
  color: white;
  
}
.control-bar__controler{
  display: flex;
  color: white;
  justify-content: space-between;
  width: 120px;
  height:51px;
  align-items: center;

  padding: 0px 10px;
}


.main-image{
  width: 264px;
  height: 264px;
  border-radius: 30px;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.2);
  margin: 40px;
}

.progress{

  width: 300px;
  margin: 50px;
}
.progress__time{
  color: rgba(0, 0, 0, 0.3);;
  display: flex;
  justify-content: space-between;
  
}
.progress__bar{
  width: 300px;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 20px 0px;
  border-radius: 5px;
}
.progress__bar .front {
  width: 250px;
  background-color: black;
}

.main-controler{

  display: flex;
  width: 300px;
  
  align-items: center;
  justify-content:space-between;

}
.main-controler i{
  font-size: 23px;

}
.main-controler i:last-child{
  color: rgba(0, 0, 0, 0.3);
  font-size: 17px;
}
.main-controler i:first-child{
  color: rgba(0, 0, 0, 0.3);
  font-size: 17px;
}
.main-controler i:nth-child(3){
  font-size: 60px;
  
}